<div class="container">
    <div class="row">
        <h3>Your Cart</h3>
    </div>
    <br>
    <div class="row">
        <table class="table">
            <tr class="m-3">
                <th scope="col">ID</th>
                <th scope="col">Images</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Action</th>
            </tr>
            <tr *ngFor="let item of items">
                <td>{{item.product.id}}</td>
                <td>
                    <img src="{{item.product.photo}}" width="50">
                </td>
                <td>{{item.product.name}}</td>
                <td>{{item.product.price}}</td>
                <td>{{item.quantity}}
                    <button class="btn btn-success ml-2 mr-3">+ </button>
                    <button class="btn btn-danger" (click)="remove(item.quantity)">- </button>
                </td>
                <td scope="row">
                    <button class="btn btn-primary mr-3">View </button>
                    <button (click)="remove(item.product.id)" class="btn btn-danger">Xóa</button>
                </td>
            </tr>
            <tr>
                <td colspan="5" align="left">Total</td>
                <td>{{total}}</td>
            </tr>
        </table>
    </div>
</div>